body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-inter: 'Inter', sans-serif;
    --font-inherit: inherit;
    --font-family: Inter;
    /* Colors */
    --color-steelblue: #5a688f;
    --color-firebrick-100: #c01c1c;
    --color-firebrick-200: #b41414;
    --color-dimgray: #444b6b;
    --color-white: #F2F2F2;
    /* Gaps */
    --gap-xs: 8px;
    --gap-9xs: 4px;
    --gap-21xl: 40px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-xs: 12px;
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xs: 12px;
    --padding-base: 16px;
    --padding-8xs: 8px;
    --padding-xl: 20px;
    /* border radiuses */
    --br-xs: 12px;
    --br-xl: 20px;
    --br-8xs: 8px;
}